<!DOCTYPE html>
<html>
{{> head}}

<body class="game_body">
    {{> header}}
    <br><br>
    <div id='custom-jumbo' class="jumbotron container-fluid">
        <div class="container game_screen mt-5 mb-1" id="content">
            <div class="row">
                <div class="col">
                    <h4 class="game_style">Hello {{name}}</h1>
                </div>
                <div class="col-6">
                    <h1 class="game_style">Score: {{score}} Points</h4>
                </div>
                <div class="col">
                    <h4 class="game_style">Remaining Cards: {{remaining}}</h4>
                </div>
            </div>
            <div class="row my-1 ">
                <div class="col-lg-3 col-md-6 col-sm">
                    <div class="big_small_responsive">
                        <img src={{card}} class="gamecard" alt="YourCard" class='playcard'>
                    </div>
                    <h4 style="color: red;">{{{game_state}}}</h4>
                </div>
                <div class="col-lg-6 col-md mx-auto order-lg-2 order-md-12 order-xs-3">
                    <div class="big_small_responsive ">
                        <div class="container mt-2 pt-2">
                            <div class="row my-1">

                                <form class="container" id="form1" method="POST" action="/newgame">
                                    <button class="btn btn-dark btn-lg game_style" type="submit" value="New Game">New
                                        Game</button>
                                </form>
                            </div>
                            <div class="row my-1">
                                <div class="col-xs col-sm-6 col-lg-4">  
                                    <form class="container" id="form1" method="POST" action="/smaller">
                                        <button class="btn btn-dark game_style" type="submit" value="Smaller(+1)"
                                            {{smaller}}>Smaller(+1)</button>
                                    </form>
                                </div>
                                <div class="col-xs col-sm col-lg-4 order-3">
                                    <form class="container" id="form1" method="POST" action="/tie">
                                        <button class="btn btn-dark btn-sm game_style" type="submit" value="Tie(+4)"
                                            {{tie}}>Tie(+4)</button>
                                    </form>
                                </div>
                                <div class="col-xs col-sm-6 col-lg-4 order-xs-4 order-sm-2 order-lg-4">
                                    <form class="container" id="form1" method="POST" action="/bigger">
                                        <button class="btn btn-dark game_style" type="submit" value="Bigger(+1)"
                                            {{bigger}}>Bigger(+1)</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col">
                                    <form class="container" id="form1" method="GET" action="/rankings">
                                        <button class="btn btn-dark game_style" type="submit">Rankings</button>
                                    </form>
                                </div>
                                <div class="col">
                                    <form class="container" id="form1" method="POST" action="/signout">
                                        <button class="btn btn-dark game_style" type="submit">Sign Out</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm order-3">
                    <div class="big_small_responsive">
                        <img src={{card2}} class="gamecard" alt="NextCard" class='playcard'>
                    </div>
                </div>
            </div>
            {{!-- <br> --}}
            <div class="row">
                <div class="col">
                    <ol class="list-text">
                        <li>Is the next card <em>bigger</em> or <em>smaller</em> than your current card?</li>
                        <li>You can gamble on a <em>tie</em> for four times the payout</li>
                        <li>Don't worry about the suits</li>
                        <li>If you're right, then that card will be your new card.</li>
                        <li>Have fun and try to get the highest score you can!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
<!--     <audio id="myaudio" autoplay>
        <source src={{music}} type="audio/mpeg">
    </audio>
    <script>
        var audio = document.getElementById("myaudio");
        audio.volume = 0.2;
    </script> -->
    {{> footer}}
</body>

</html>