<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>5 Card Gamble</title>
</head>
<body>
<div class="container">
    <h1>{{title}}</h1>
    <div class="guessing-card-container" style="display: inline-block;">
        <div class="guessing-card">
            <img src={{card}} alt="card" id="1">
        </div>
        <form class="container" method="POST" action="/flip/0">
            {{{button1}}}
        </form>
    </div>
    <div class="guessing-card-container" style="display: inline-block;">
        <div class="guessing-card">
            <img src={{card2}} alt="card" id="2">
        </div>
        <form class="container" method="POST" action="/flip/1">
            {{{button2}}}
        </form>
    </div>
    <div class="guessing-card-container" style="display: inline-block;">
        <div class="guessing-card">
            <img src={{card3}} alt="card" id="3">
        </div>
        <form class="container" method="POST" action="/flip/2">
            {{{button3}}}
        </form>
    </div>
    <div class="guessing-card-container" style="display: inline-block;">
        <div class="guessing-card">
            <img src={{card4}} alt="card" id="4">
        </div>
        <form class="container" method="POST" action="/flip/3">
            {{{button4}}}
        </form>
    </div>
    <div class="guessing-card-container" style="display: inline-block;">
        <div class="guessing-card">
            <img src={{card5}} alt="card" id="5">
        </div>
        <form class="container" method="POST" action="/flip/4">
            {{{button5}}}
        </form>
    </div>

    <h2>Your moves left: {{turnsleft}}</h2>
    <h2>{{message}}</h2>

    <form class="container" method="POST" action="/newjack">
        <!--<div class="container">-->
        <input style="margin: 0 auto;display: block;" type="submit" value="New Game">
        <!--</div>-->
    </form>

</div>

</body>
</html>