<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>5 Card Gamble</title>
</head>
<body>
	<form action="/flip1" method="POST">
		<h1>{{title}}</h1>
		<div class="guessing-card-container" style="display: inline-block;">
			<div class="guessing-card">
				<img src={{card}} alt="card" height="300" id="1">
			</div>
			{{{button1}}}
		</div>
	</form>
	<form action="/flip2" method="POST">
		<div class="guessing-card-container" style="display: inline-block;">
			<div class="guessing-card">
				<img src={{card2}} alt="card" height="300" id="2">
			</div>
			{{{button2}}}
		</div>
	</form>
		<div class="guessing-card-container" style="display: inline-block;">
			<div class="guessing-card">
				<img src={{card3}} alt="card" height="300" id="3">
			</div>
			{{{button3}}}
		</div>
		<div class="guessing-card-container" style="display: inline-block;">
			<div class="guessing-card">
				<img src={{card4}} alt="card" height="300" id="4">
			</div>
			{{{button4}}}
		</div>
		<div class="guessing-card-container" style="display: inline-block;">
			<div class="guessing-card">
				<img src={{card5}} alt="card" height="300" id="5">
			</div>
			{{{button5}}}
		</div>

		

		<h2>Your moves left: {{movesleft}}</h2>
		<h2>{{message}}</h2>
	<button onclick="location.reload();">Refresh Page</button>
</body>
</html>
