<!DOCTYPE html>
<html lang="en">
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>5 Card Gamble</title>-->
<!--</head>-->
{{> head}}

<body class="game_body">
    {{> header}}
    <br><br>

    <div class="row">

        <div class="container" align="center" style="position: fixed; top:20%; margin-left: 5px; width: 275px">
            <h2>Turns remaining: {{turnsleft}}</h2>
            <h2>{{message}}</h2>

            <br>

            <form class="container" method="POST" action="/newjoker">
                <input style="margin: 0 auto;display: block;" type="submit" value="New Game">
            </form>
        </div>

        <div class="col-8" style="top:25px; margin-left: 250px; margin-right: 250px; position: center" >
            <h1 align="center">{{title}}</h1><br>

                <div class="container col-12" align="center">
                    {{#each card_button_array}}
                        <div class="guessing-card-container" align="center" style="display: inline-block; width: 18%">
                            <div class="guessing-card">
                                <img src={{this.card}} alt="card" width="100%">
                            </div>
                            <form class="container" method="POST" action="/flip/{{this.button_id}}">
                                {{{this.button}}}
                            </form>
                        </div>
                    {{/each}}
                </div>

        </div>

        <div class="container" align="left" style="position: fixed; float:right; top:20%;margin-right: 5px; right: 0; width: 250px; height:max-content">
            <ul class="container" style="font-size: medium; list-style: none">
                <li>For each turn, flip any card to find the Joker.</li><br>
                <li>Your Score will equal to the number of remaining turns.</li><br>
                <li>Once your turns are <em>0</em>, the game is over.</li><br>
                <li><em>Good luck and have fun!</em></li>
            </ul>
        </div>



    </div>

    <!--<div class="" align="center">-->
        <!--<h2>Your moves left: {{turnsleft}}</h2>-->
        <!--<h2>{{message}}</h2>-->

        <!--<form class="container" method="POST" action="/newjoker">-->
            <!--<input style="margin: 0 auto;display: block;" type="submit" value="New Game">-->
        <!--</form>-->
    <!--</div>-->
    <br><br><br><br>
        {{> footer}}
</body>
