<!DOCTYPE html>
<html>
{{> head}}

<body class="game_body">
    {{> header}}
    <br><br>
    <div class="container-fluid">
        <div class="row container-fluid">
            <div class='col-lg-12 card' style="margin: 20px; color: black">
                <br>
                <h2 class="card-title" align="center">Profile</h2>
                <hr class="my-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4"> </div>
                        <div class="col-4">
                            <img class="card-img-left"
                                src='https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/default.jpg?alt=media&token=4d525069-490a-4c38-a845-44e104608025'
                                alt="Profile pic" style="width: 400px; height: 400px">
                            <br>
                            <table class="col-12">
                                <tr>
                                    <th>Name</th>
                                    <td>{{fname}} {{lname}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{email}}</td>
                                </tr>
                                <tr>
                                    <th>Balance</th>
                                    <td>{{balance}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-bsgame-list"
                                            data-toggle="list" href="#list-bsgame" role="tab" aria-controls="bsgame">Big
                                            or Small</a>
                                        <a class="list-group-item list-group-item-action" id="list-game2"
                                            data-toggle="list" href="#game2" role="tab" aria-controls="game2">Game 2</a>
                                        <a class="list-group-item list-group-item-action" id="list-game3"
                                            data-toggle="list" href="#game3" role="tab" aria-controls="game3">Game 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-bsgame" role="tabpanel"
                                    aria-labelledby="list-bsgame-list">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1 class='card-title'>Big or Small Rankings</h1>
                                            <canvas id="myDoughnutChart" width="380" height="380"></canvas>
                                            <table class="col-3" align="center">
                                                <tr>
                                                    <th>Games played</th>
                                                    <td>{{big_or_small.games_played}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Games won</th>
                                                    <td>{{big_or_small.games_won}}</td>
                                                </tr>
                                                <tr>
                                                    <th>High Score</th>
                                                    <td>{{big_or_small.high_score}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="game2" role="tabpanel" aria-labelledby="list-game2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1 class='card-title'>Game 2 Rankings</h1>
                                            <p>{{{rankings}}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="game3" role="tabpanel" aria-labelledby="list-game3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1 class='card-title'>Game 3 Rankings</h1>
                                            <p>{{{rankings}}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {{> footer}}
    <script>
        var ctx = document.getElementById("myDoughnutChart");
        ctx.font = "32px Verdana";
        ctx.fillStyle = '#000';
        var myDoughnutChart = new Chart(ctx, {
            "type": "doughnut",
            "data": {
                "labels": ["Games Played", "Games Won"],
                "datasets": [{
                    "label": {{ big_or_small.high_score }},
            "data": [{{ big_or_small.games_played }}, {{ big_or_small.games_won }}],
        "backgroundColor": [
            "rgb(255, 99, 132)",
            "rgb(54, 162, 235)"]
            }],
        },
        center: {
            text: "hi"
        }
    });
    </script>
</body>

</html>