<!DOCTYPE html>
<html>
{{> head}}

<body
    background="https://us.123rf.com/450wm/yamabikay/yamabikay1612/yamabikay161200085/69448418-poker-table-felt-background-high-resolution-photo-.jpg?ver=6">
    {{> header}}
    <br>Balance {{balance}}
    <br>Games Played{{big_or_small.games_played}}
    <br>Games Won{{big_or_small.games_won}}
    <br>Highest Score{{big_or_small.high_score}}
    <br>Email: {{email}}
    <br>Picture: {{profile_picture}}
    {{> footer}}
</body>

</html>