<!DOCTYPE html>
<html>
{{> head}}

<body>
    {{> header}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class='col-lg-12 card' style="padding: 20px; color: black; background-color: rgba(255,255,255,0.5)">
                <br>
                <h2 id="profile-title" class="card-title" align="center">Profile</h2>
                <hr class="my-4">
                <div class="card-body" style="">
                    <div class="row">
                        <div class="col-lg-4">
                            <h1>Inventory</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-pimg-list"
                                            data-toggle="list" href="#list-pimg" role="tab" aria-controls="pimg">Profile
                                            Images</a>
                                        <a class="list-group-item list-group-item-action" id="list-bgm"
                                            data-toggle="list" href="#bgm" role="tab" aria-controls="bgm">BG
                                            Music</a>
                                        <a class="list-group-item list-group-item-action" id="list-cardbacks"
                                            data-toggle="list" href="#cardbacks" role="tab"
                                            aria-controls="cardbacks">Cardbacks</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-pimg" role="tabpanel"
                                    aria-labelledby="list-pimg-list">
                                    <div class="card">
                                        <div class="card-body scroll">

                                            <form action="/avatar" method="post" id="avatar" onsubmit="return confirm('Change Avatar?')">
                                                
                                                {{{avatars}}}

                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="bgm" role="tabpanel" aria-labelledby="list-bgm">
                                    <div class="card">
                                        <div class="card-body scroll">

                                            <form action="/music" method="post" id="music" onsubmit="return confirm('Change Music?')">
                                                
                                                {{{musics}}}

                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cardbacks" role="tabpanel"
                                    aria-labelledby="list-cardbacks">
                                    <div class="card">
                                        <div class="card-body scroll">

                                            <form action="/cardback" method="post" id="cardback" onsubmit="return confirm('Change Cardback?')">

                                                {{{cardbacks}}}

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h1>Information</h1>
                            <div class="row" style="text-align: center">
                                <img {{{profile_picture}}} alt="Profile pic"
                                    style="width: 400px; height: 400px; margin: 0 auto">
                                <br>
                                <table class="col-12">
                                    <tr>
                                        <th>Name</th>
                                        <td>{{fname}} {{lname}}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{email}}</td>
                                    </tr>
                                    <tr>
                                        <th>Balance</th>
                                        <td><img class="card-img-top" src='https://firebasestorage.googleapis.com/v0/b/bigorsmall-9c0b5.appspot.com/o/picklecoin.jpg?alt=media&token=d29b8d33-5d31-4c4d-adb5-0c9eab773e51' name="peter" alt='Avatar 4' style="width:15px;height:15px;background-position-y: top;"> {{balance}}</td>
                                    </tr>
                                    <tr>
                                        <th>Music</th>
                                        <td>{{music.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Cardback</th>
                                        <td>{{cardback.name}}</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h1>Statistics</h1>
                            <div class="row">
                                <div class="col-12">
                                    <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-bsgame-list"
                                            data-toggle="list" href="#list-bsgame" role="tab" aria-controls="bsgame">Big
                                            or Small</a>
                                        <a class="list-group-item list-group-item-action" id="list-game2"
                                            data-toggle="list" href="#game2" role="tab" aria-controls="game2">Game 2</a>
                                        <a class="list-group-item list-group-item-action" id="list-game3"
                                            data-toggle="list" href="#game3" role="tab" aria-controls="game3">Game 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-bsgame" role="tabpanel"
                                    aria-labelledby="list-bsgame-list">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1>Big or Small Rankings</h1>
                                            <canvas id="myDoughnutChart" max-width="260" height="260"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="game2" role="tabpanel" aria-labelledby="list-game2">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1>Game 2 Rankings</h1>
                                            <p>{{{rankings}}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="game3" role="tabpanel" aria-labelledby="list-game3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h1>Game 3 Rankings</h1>
                                            <p>{{{rankings}}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <audio id="myaudio" autoplay>
        <source src={{music.url}} type="audio/mpeg">
    </audio>
    <script>
        var audio = document.getElementById("myaudio");
        audio.volume = 0.2;
    </script>
    {{> footer}}
    <script>
        var ctx = document.getElementById("myDoughnutChart");
        ctx.font = "32px Verdana";
        ctx.fillStyle = '#000';
        var myDoughnutChart = new Chart(ctx, {
            "type": "doughnut",
            "data": {
                "labels": ["Games Played", "Games Won"],
                "datasets": [{
                    "label": {{ big_or_small.high_score }},
            "data": [{{ big_or_small.games_played }}, {{ big_or_small.games_won }}],
        "backgroundColor": [
            "rgb(255, 99, 132)",
            "rgb(54, 162, 235)"]
                }],
            },
        });

        Chart.pluginService.register({
            beforeDraw: function (chart) {
                var width = chart.chart.width,
                    height = chart.chart.height,
                    ctx = chart.chart.ctx;

                ctx.restore();
                var fontSize = (height / 250).toFixed(2);
                ctx.font = fontSize + "em sans-serif";
                ctx.textBaseline = "middle";

                var text = 'Highest:' + {{ big_or_small.high_score
        }} + ' pts',
            textX = Math.round((width - ctx.measureText(text).width) / 2),
            textY = height / 1.875;

        ctx.fillText(text, textX, textY);
        ctx.save();
          }
        });
    </script>
</body>

</html>